{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "useTabs": true,
  "quoteProps": "as-needed"
 }
 